:root {
    --pxPerM: 100px;
    --fieldLength: 7;
    /*--fieldDim: calc(var(--pxPerM) * var(--fieldLength));*/
    --fieldBorder: 2px;

    --fieldDim: 700px;

    --poleDim: calc(var(--pxPerM) / 100 * 20);
    --playerDim: calc(var(--pxPerM) / 100 * 50);
    --ballDim: calc(var(--pxPerM) / 100 * 20);

    --posPoleX: calc(var(--pxPerM) * 3);
    --posPoleY: calc(var(--pxPerM) * 2.5);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: #FFF;
    font-family: sans-serif;
    min-height: calc(var(--fieldDim) + 100px);
    min-width: calc(var(--fieldDim) + 100px);
}

.field {
    position: relative;
    width: var(--fieldDim);
    height: var(--fieldDim);
    border: var(--fieldBorder) dashed #DDD;
    background: #fff;
    box-sizing: content-box;
}

.pole {
    position: absolute;
    width: var(--poleDim);
    height: var(--poleDim);
    background: #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
    z-index: 1000;
    border: none;
}

.player {
    position: absolute;
    width: var(--playerDim);
    height: var(--playerDim);
    background: rgb(47, 162, 163);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
    border: none;
}

.ball {
    position: absolute;
    width: var(--ballDim);
    height: var(--ballDim);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
    z-index: 100;
    border: none;
}

#bX {
    background-color: red;
}

#bY {
    background-color: orange;
}

#bZ {
    background-color: rgb(216, 13, 213);
}